# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings, optional
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment/secrets files
.env
.env.*